@import "../../../scss/global/mixins";
@import "../../../scss/global/colors";

.currentRecipe_wrap {
  width: 100vw;
  height: 100vh;
  background-color: $color1;
  display: flex;
  justify-content: center;

  .currentRecipe {
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: $color3;
    padding: 3vw;
    border-radius: 5px;
    width: 85vw;
    display: flex;
    justify-content: center;
    position: relative;
    @include scrollBar($color3, $color2, $color2);

    .leftSideRecipe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 200px;
      text-align: center;
      @include bottleImage(70vh);
    }
    .rightSideRecipe {
      margin-left: 3vw;
      ul {
        margin: 0;
      }
    }
    .closeButton {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: auto;
      cursor: pointer;
    }
  }
}

// Table styles
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: $color2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  th,
  td {
    width: 33%;
    padding: 3px 10px;
    text-align: left;
  }

  thead {
    background-color: $color1;
    color: $color3;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
  }

  tbody tr:nth-child(odd) {
    background-color: $color2;
  }

  /* Row hover effect */
  tbody tr:hover {
    background-color: #f0f0f0;

    transition: background-color 0.2s ease;
  }

  /* Table borders */
  th,
  td {
    border: 1px solid #e0e0e0;
  }

  /* Remove left border for the first column */
  td:first-child,
  th:first-child {
    border-left: none;
  }

  /* Remove right border for the last column */
  td:last-child,
  th:last-child {
    border-right: none;
  }
}
